a{
    text-decoration: underline !important; 
}

.fa{
    color: blue;
    
}

.box{
    background-color: rgb(203, 200, 200);
    padding: 50px 10px;
    text-align: center;
}


.box-part{
    background-color: white ;
    margin: 22px 20px 20px 20px;
    
}